.search{
    text-align: center;
    padding-bottom: 5%;
    input{
       border: 1px solid #bdbdbd;
       width: 50%;
       height: 2rem;
       border-radius: 2px;
       padding: 1rem;
    }
    input:focus{
        border-color: #66afe9;
        outline: 0;     
        outline-style: none;     
        outline-width: 0; 
    }
    button{
        height: 2rem;
        background-color: #007791;
        border: none;
        color: white;
    }
   }
.list-work{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-left: 10%;
    // padding-right: 10%;
    justify-content: center;
    table{
        border-collapse: collapse;
    }
    tr{
        margin: 0;
        border: 1px solid #dbdbdb;
    }
    th{
        border: 1px solid #dbdbdb;
        font-weight: 650;
        font-size: 1.5rem;
        width: 15%;
        padding: 0.5rem;
        text-align: left;
        height: 3rem;
        color: white;
        background-color: black;
    }
    td{

        width: 15%;
        text-align: left;
        height: 3rem;
        padding: 0.5rem;
    }
    tr:hover{
        cursor: pointer;
        background-color: #dddddd;
    }
}